* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box; 
   
}

@custom-media --extra-large-view (width => 1025px);
@custom-media --large-view (width < 1025px);
@custom-media --medium-view (width < 968px);
@custom-media --small-view (width < 600px);

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    background: var(--primary-color);
    font-family: 'system.ui', 'arial', 'sans-serif';
    
    overflow: hidden;
    overflow-x: none;
    overflow-y: scroll; 
}

.old {
    display: block;
    position: absolute;
    z-index: 10;    
}

@media (--large-view) {
    body {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .old {
        display: block;
        right: 0;
        top: 0;
        position: absolute;
        z-index: 10;    
    }
}
