* {
    margin: 0;
    padding: 0;    
}

body {
    display: flex;
    flex-wrap: wrap;    
    background: var(--primary-color);
    font-family: 'system.ui', 'arial', 'sans-serif';
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: none;
    overflow-y: scroll;                      
}

.old {
    display: block;
    position: absolute;
    z-index: 1;    
}

@custom-media --extra-large-view (width => 1025px);
@custom-media --large-view (width < 1025px);
@custom-media --medium-view (width < 968px);
@custom-media --small-view (width < 600px);
