footer {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    & .social-networks {
        display: flex;
        margin: 0 auto;
        & .caja-img {
            display: block;
            width: 10em;
            min-width: 8em;
            height: 7em;
            margin: 10px 10px 0px 10px; /*up,right,down,left*/
            text-align: center;
            & .github {
                width: 7em;
                height: 5em;
            }
            & .facebook {
                width: 7em;
                height: 5em;
            }
            & .twitter {
                width: 5em;
                height: 4em;
                margin-top: 5px;
            }
            & .youtube {
                width: 7em;
                height: 5em;
            }
        }
    }
}