.nav {
    display: block;
    position: fixed;
    width: 11em;
    height: 100%;
    & ul {
      display: flex;
      flex-direction: column;
      & li {
          position: relative;
          left: -166px;
          display: flex;
          list-style: none;
          min-height: 14px;
          padding: 20px 40px;
          margin: 20px 0px;
          background: var(--second-color);
          border-radius: 0px 5px 5px 0px;
          border-right: 10px solid var(--font-color);
          transition: 0.5s;
          &:hover {
            position: relative;
            left: 0px;
            background: var(--primary-light-color);
            border-right: 10px solid var(--enfacy-font-color);
            color: black;
            font-weight: bold;
            transition: 0.5s;
          }
          & a {
              display: inline-block;
              width: 80px;
              color: var(--font-color);
              text-decoration: none;
              text-align: center;
          }
      }
      & li:first-child {
        margin-top: 20vh;        
    }  
  }   
    
}