.nav {
    display: block; 
    position: absolute;   
    width: 0em;
    height: 100%;
    & ul {
      display: flex;
      flex-direction: column;      
      & li {
          position: relative;
          left: -10em;
          display: flex;
          list-style: none;
          min-height: 14px;
          padding: 20px 40px;
          margin: 20px 0px;
          width: 5em;
          background: var(--second-color);
          border-radius: 0px 5px 5px 0px;
          border-right: 10px solid var(--font-color);
          transition: 0.5s;
          z-index: 100;
          &:hover {
            position: relative;
            left: 0px;
            background: var(--primary-light-color);
            border-right: 10px solid var(--enfacy-font-color);
            color: black;
            font-weight: bold;
            transition: 0.5s;
          }
          & a {
              display: inline-block;
              width: 80px;
              color: var(--font-color);
              text-decoration: none;
              text-align: center;
          }
      }
      & li:first-child {
        margin-top: 20vh;        
    }  
  }   
    
}


/* FLOAT NAV */
:root {
  --nav {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: absolute;
      left: 1em;
      top: 1em;
      width: 2em;
      height: 2em;
      background-color: var(--second-color);
      border-radius: 5px; 
      position: fixed;
      z-index: 1001;
  }
}

@media (--large-view) {
      
    .nav {
      display: none;
      visibility: none;
    }
    
    .nav ul li {
      display: none;
    }
    .nav  {
        @apply --nav;        
        &:active ul {
        background-image: none;
        transition: 1s;        
        }
        & ul {
            display: flex;
            width: 1.5em;          
            height: 1.4em;
            background-image: repeating-linear-gradient(var(--second-color)-1000%,white 50%);
            background-size: 0.5em 0.5em;            
            &:hover {
              @apply --nav;
              width: 10em;
              height: 10em;
              background-image: none;
              transition: 1s;
              display: flex;
              flex-direction: column;
              justify-content: center;
              & li {
                  all: initial;
                  all: unset;                 
                  display: flex;
                  list-style: none;
                  height: 14px;
                  padding: 10px;
                  background: #42F2F7;
                  transition: 0.5s;
                  margin: 5px;
                  justify-content: center;
                  border-radius: 5px;
                  &:active {
                    background: var(--third-color);
                  }
                  & a {
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                  }
                }
            }                        
          }
        }    
  }